
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("9.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("4.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 1050px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: rgb(238, 238, 238);
    
     
    
    }
    .contenido{

        height: 1200px;
        
        width: 100%;
        
        position: absolute;
        
        top: 2px;
        
         
        
        }
        
         
        
        .imagenbiologia{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("9.gif");
        
        }
        
        
        
        .textobilogia{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
         }
        


 


            .contenido{

                height: 1200px;
                
                width: 100%;
                
                position: absolute;
                
                top: 2px;
                
                 
                
                }
                
                 
                
                .imagenreligion{
                
                 
                
                background-repeat: no-repeat;
                
                float:left;
                
                height: 200px;
                
                width: 260px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("6.jpg");
                
                }
                
                
                
                .textoreligion{
                
                text-align: justify;
                
                color: azure;
                
                font-size: 20px;
                
                
                
                }


                .contenido{

                    height: 1200px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 2px;
                    
                     
                    
                    }
                    
                     
                    
                    .imagensociales{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("6.jpg");
                    
                    }
                    
                    
                    
                    .textosociales{
                    
                    text-align: justify;
                    
                    color: azure;
                    
                    font-size: 20px;
                    
                    
                    
                    }

                    .contenido{

                        height: 1200px;
                        
                        width: 100%;
                        
                        position: absolute;
                        
                        top: 2px;
                        
                         
                        
                        }
                        
                         
                        
                        .imagenmatematicas{
                        
                         
                        
                        background-repeat: no-repeat;
                        
                        float:left;
                        
                        height: 200px;
                        
                        width: 260px;
                        
                        margin-left: 5px;
                        
                        margin-right:5px;
                        
                        background-image: url("6.jpg");
                        
                        }
                        
                        
                        
                        .textomatematicas{
                        
                        text-align: justify;
                        
                        color: azure;
                        
                        font-size: 20px;
                        
                        
                        
                        }

                        .contenido{

                            height: 1200px;
                            
                            width: 100%;
                            
                            position: absolute;
                            
                            top: 2px;
                            
                             
                            
                            }
                            
                             
                            
                            .imageningles{
                            
                             
                            
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("6.jpg");
                            
                            }
                            
                            
                            
                            .textoingles{
                            
                            text-align: justify;
                            
                            color: azure;
                            
                            font-size: 20px;
                            
                            
                            
                            }


                            .contenido{

                                height: 1200px;
                                
                                width: 100%;
                                
                                position: absolute;
                                
                                top: 2px;
                                
                                 
                                
                                }
                                
                                 
                                
                                .imagentecno2{
                                
                                 
                                
                                background-repeat: no-repeat;
                                
                                float:right;
                                
                                height: 200px;
                                
                                width: 260px;
                                
                                margin-left: 5px;
                                
                                margin-right:5px;
                                
                                background-image: url("tecno.jpg");
                                
                                }
                                
                                
                                .textotecno2{
                                
                                text-align: justify;
                                
                                color: azure;
                                
                                font-size: 20px;
                                 }

                              
                                 .contenido{

                                    height: 1200px;
                                    
                                    width: 100%;
                                    
                                    position: absolute;
                                    
                                    top: 2px;
                                    
                                     
                                    
                                    }
                                    
                                     
                                    
                                    .imagentecno3{
                                    
                                     
                                    
                                    background-repeat: no-repeat;
                                    
                                    float:right;
                                    
                                    height: 200px;
                                    
                                    width: 260px;
                                    
                                    margin-left: 5px;
                                    
                                    margin-right:5px;
                                    
                                    background-image: url("comunicacion.jpg");
                                    
                                    }
                                    
                                    
                                    .textotecno3{
                                    
                                    text-align: justify;
                                    
                                    color: azure;
                                    
                                    font-size: 20px;
                                     }