.contenedor{
      width: 100%;
    height: 1400px;
    background-color: rgb(0, 0, 0);
}
.encabezado{
    width: 100%;
    height: 150px;
    background-color: rgb(99, 88, 121);
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu{
    width: 100%;
    height: 80px;
    background-color: rgb(83, 65, 167);
    text-align: center;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}
.contenedor2{
    display: flex;
    width: 100%;
    height: 1200px;
    background-color: rgb(58, 22, 77);
}
.izquierda{
    width: 20%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.986);
    background-image: url("luna.jpg");
    background-repeat: no-repeat;
}
.centro{
    width: 60%;
    height: 1200px;
    background-color: rgba(31, 40, 83, 0.986);
    font-size: 25px;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("9.gif");
    background-repeat: no-repeat;
}
.derecha{
    width: 20%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.986);
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tecnologia{
    width: 120px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.ingles{
    width: 120px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.matematicas{
    width: 120px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.biologia{
    width: 120px;
    height: 78px;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}